<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<link rel="stylesheet" type="text/css" href="/styleUsers.css" th:href="@{../static/styleUsers.css}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/bootstrap.css" th:href="@{../static/bootstrap.css}">
    <link rel="icon" href="../static/image/spring_logo.png" sizes="16x16 32x32" type="image/png">
    <title>Пользователи</title>
</head>
<body>
<table class="table table-hover col-sm-7">
    <thead>
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>email</th>
    </tr>
    <tbody id="tbodyUsers">
    </tbody>
</table>

<div class="centre">
    <button type="button" class="btn btn-info" onclick="window.location.href = 'users/new'">Добавить</button>
</div>

<div id="pagingUsers">

</div>
<br>

<nav aria-label="...">
    <ul class="pagination pagination-sm justify-content-center" id="newPaging">

    </ul>
</nav>

<script src="../static/paging.js"></script>
<script src="/static/bootstrap.bundle.js"></script>
</body>
</html>